# Local env for running the app locally (source this before `go run main.go`)
# PostgreSQL envs
POSTGRES_USER=development
POSTGRES_PASSWORD=development
POSTGRES_DB=development
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
DATABASE_DSN=host=localhost user=development password=development dbname=development port=5433 sslmode=disable TimeZone=UTC

PORT=8000