version: '3.3'

services:
  app:
    build: .
    depends_on:
      - postgres
    ports:
      - "8000:8000"
    environment:
      # PostgreSQL connection (preferred)
      - POSTGRES_USER=development
      - POSTGRES_PASSWORD=development
      - POSTGRES_DB=ecommerce
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      # Optionally set a DSN to use directly
      - DATABASE_DSN=host=postgres user=development password=development dbname=ecommerce port=5432 sslmode=disable TimeZone=UTC
      - PORT=8000
    restart: on-failure

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: development
      POSTGRES_PASSWORD: development
      POSTGRES_DB: ecommerce
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./docker/postgres/init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"


volumes:
  pgdata:
